<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">

<article>

    <header>

        <h1>生命是一次冒险</h1>

    </header>

    <div class="background-bar">

    </div>

    <section class="container-fluid main-body">
        <section class="row">

            <div class="hidden-xs col-sm-1 col-md-2">

            </div>

            <div class="col-xs-12 col-sm-10 col-md-8">

                <div class="content-holder">

                    <div class="content-description">

                        <div class="author-social author-social-left">
                            <a href="https://github.com/CYentist">
                              <img src="http://odv1eilcn.bkt.clouddn.com/images/2017-04-25-github-1.png"></a>
                            <a href="http://seewhymoon-blog.logdown.com"><img src="http://odv1eilcn.bkt.clouddn.com/images/2017-04-25-logdown-1.png"></a>
                        </div>

                        <div class="author-social author-social-right">
                            <a href="http://www.jianshu.com/u/233a2edd1f7c"><img src="http://odv1eilcn.bkt.clouddn.com/images/2017-04-25-jianshu.png"></a>
                            <a href=“http://weibo.com/ceewhyheihei/”>
                            <img src="http://odv1eilcn.bkt.clouddn.com/images/2017-04-25-weibo.png">
                          </a>
                        </div>


                        <div class="author-avatar">
                            <img src="http://odv1eilcn.bkt.clouddn.com/images/2017-04-25-%E5%A4%B4%E5%83%8F.png" class="img-circle" />
                        </div>
                        <div class="author-name">
                            <h3>橙子 LifeX（成元）</h3>
                        </div>
                        <div class="row blog-info">
                            <div class="col-xs-12 col-sm-6">
                                <span class="text-muted"><i class="fa fa-weixin"></i> bigorangee</span>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <span class="text-muted"><i class="fa fa-envelope"></i>  seewhymoon@gmail.com</span>
                            </div>
                        </div>

                    </div>

                    <div class="content-body">
                      <p>你好，我是橙子，我正在学习编程，这是我做的第一个网站 - “一起进步”</p></br>
<p>我生活在一个东北的海边城市-大连，这里气候宜人，生活舒适，但是作为一个二线城市，它的商业环境和学术氛围跟一线城市差距悬殊。曾经在上海和北京生活过的我，对于都市里人群的多样性，包容性，和很容易就能够找到类似爱好的人的那种便利一直很怀念，我觉得那是我生活中很重要的一部分。</p></br>
<p>于是在2014年我和一帮朋友众筹了一个小空间，叫做“鹿地”，14年到16年，我这个地方做了300多场小型活动，结识了不少伙伴。</p></br>
<p>一个真实的环境不仅仅是学习的动力，更是一个人幸福感的重要来源，所以我热衷于根据自己的兴趣找到同频的人一起交流，去年我在新生大学认识了几位共同成长的伙伴，今年我在得到上加入一个本地“笑友群”，每月聚会一次。最近在全栈营，我也幸运的结识了好几位一起学习的同学，这些对我的生活和学习来说，都很重要。</p></br>
<p>社群也许是我们这一代人寻找社会认同的一种新的方式，毕竟人是社会化的动物，我们需要周边人的共鸣，我也确实在身边找到了很多有共同语言的人，我相信，更多的人也可以。</p>
</br>
<p>谁都没那么容易做一个离开自己生活的地方去北上广深打拼的决定，在身边构建一个属于自己的成长环境，也不失为一个选择，我在这个过程中有非常大的收获。希望你在“一起进步”能有收获。</p>

                    </div>

                </div>

            </div>

            <div class="hidden-xs col-sm-1 col-md-2">

            </div>

        </section>
    </section>

</article>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
