<ul class="list-group">
  <li class="list-group-item ">
    <span class="titlep">
  	  <a href="#"><%= post.user.email %></a> <time> <%= post.created_at %></time>
  		<p><%= simple_format(post.content) %></p>
    </span>
    <ul class="actions" href="#">
  		<li><a class="reply" href="#">编辑</a></li>
    </ul>
  </li>
</ul>
