/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// landing page
.lp-part-1 {
    display: block;
    background: #E91E63;
    background-image: url('http://odv1eilcn.bkt.clouddn.com/images/2017-04-22-part2.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    margin: 0px auto 0px auto ;
    width: 100%;
    min-width: 960px;
    height: 450px;
    position: relative;
    h1 {
        font-size: 44px;
        line-height: 56px;
        color: white;
    }
    h2 {
        font-size: 18px;
        line-height: 44px;
        color: white;
        font-weight: 200;
    }
}
.lp-block-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 450px;
    position: relative;
    text-align: center;
    padding-top: 100px;
}
.lp-block-1-button {
    border-radius: 25px;
    background: transparent;
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    line-height: 1;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 70px 13px;
    margin-right: 10px;
    margin-top: 20px;
    }
.lp-block-1-button:hover{
    background-color: white;
    text-decoration: none;
  }

.lp-part-2 {
    display: block;
    width: 100%;
    height: 550px;
    min-width: 960px;

    .lp-block-2 {
        display: block;
        width: 960px;
        height: 550px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
        padding-top: 60px;

      .block-p {
          display: block;
          width: 650px;
          height: 60px;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          padding-top: 10px;

      }
      h2 {
            font-size: 32px;
            line-height: 44px;
            font-weight: bold;
        }
      .advantages {
            color: #777777;
            font-size: 16px;
            line-height: 24px;
        }
      .pom-box {
            width: 100px;
            height: auto;
            color: black;
            font-size: 8em;
            display: inline-block; margin-right: 10px;
            margin-bottom: 10px;
        }
      .pom-box:hover {
            color:#E91E63;
      }
    }
}
.p-pom-box-47 {
    display: block;
    // background: white;
    border-style: none;
    border-radius: 0;
    // top: 20%;
    z-index: 38;
    width: 300px;
    height: 200px;
    position: relative;
    margin-left: 20px;
    margin-top: 40px;
    float: left;
    background-color: trasnparent;
    h3 {
        color: #E91E63;
        font-size: 20px;
        font-weight: 700;
    }
    p {
        font-size: 14px;
        line-height: 24px;
        color: #777777;
        width: 260px;
        margin-left: 20px;
    }
}
.lp-part-3 {
  margin-top: 60px;
  display: block;
  width: 100%;
  height: 265px;
  min-width: 960px;

  .lp-user-block-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 265px;
    padding:50px 0 50px 0;
    position: relative;
    .lp-user-left {
      padding-right :30px;
      float: left;
      width: 480px;
    }
    .lp-user-right {
      padding-left :30px;
      float: left;
      width: 480px;
    }
    .lp-user-avatar {
      float: left;
      width: 80px;
      height: 80px;
      border: 5px solid #E91E63;
      border-radius: 5%;
      margin-top :10px;

    }
    .lp-user-thinking {
      float: left;
      width: 370px;
      padding :5px 0 2px 20px;
      letter-spacing: 0.2px;
    }
    .lp-user-name {
      margin-left :100px;
    }
  }
}
.lp-part-5 {
    display: block;
    background: #E91E63;
    background-image: url('http://odv1eilcn.bkt.clouddn.com/images/2017-04-22-part2.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 960px;
    height: 200px;
    position: relative;
    h2 {
        font-size: 24px;
        line-height: 44px;
        color: white;
        font-weight: bold;
    }
    .lp-block-5 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 200px;
        position: relative;
        text-align: center;
        padding-top: 30px;
    }
}
.lp-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 60px;
        position: relative;
        text-align: center;
        background-color: #E91E63;
  .logo2 {
    float: center;
    width: 196px;
    height: 30px;
    margin: 15px;
  }
}
.iframe {
  display: block;
  float :left;
}

//layout

.navbar-default {
    background-color: #C51162;  //背景颜色
    border-color: #C51162; //边框色
    margin-bottom: 0; //底部 margin 不撑开距离
}
@media (min-width: 768px) {
   .navbar {
     border-radius: 0; //圆角为0
   }
}
.navbar-default .navbar-brand {
   color: white; //字体颜色
   padding: 10px 15px; //上下10px，左右15px
   line-height: 30px; //文字行高
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
   color: #E91E63; //鼠标放置在链接上的文字颜色
   background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
}
.navbar-default .navbar-nav > li > a
{
   color: white;
   background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
   color: #E91E63;
   background-color: transparent;
}

.navbar-brand > img {
     display: inline-block; //图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
     width: 32px; //定制图片宽度
     height: 32px; //定制图片高度
}

.content-footer p {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
//course index
.box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  position: relative;
  border: none;
  .img {
   max-width: 100%;
   height: auto;
   display: block;
   transition: all 0.2s; /*这句代码的意思是，当这个元素的某个属性发现变化时，不是立刻完成，而是慢慢地在400ms内完成，这样就实现了动画的效果*/
   -webkit-transition: all 0.2s;
   -webkit-transition:all 0.2s ease-in-out; /*让「谷歌浏览器」支持这个属性*/
   -moz-transition:all 0.2s ease-in-out; /*让「火狐浏览器」支持这个属性*/
   -o-transition:all 0.2s ease-in-out; /*让「safari」支持属性*/
   -ms-transition:all 0.2s ease-in-out; /*让「IE浏览器」支持这个属性*/
 }
}

.box:hover img {
  transform: scale(1.1); /*在400ms内，图片的尺寸从 1倍 放大到 1.2倍*/
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.panelcourse {
  border-radius: 3px;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
  background-color: white;
}
.p-footer {
  display: block;
  width: 100%;
  height: auto;
  margin: 5px 10px 20px 10px;
  position: relative;
  .title {
    margin-top: -10px;
    color: black;
    line-height: 20px;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
  }
  a {
    color: #C51162;
  }
  a:hover {
    text-decoration: none;
  }
  .des {
    float:left;
    width: 80%;
    margin-top: -10px;
    margin-bottom: 15px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
 .thumbnail {
   border-radius: none;
 }
  .follow {
    float: right;
    display: inline;
    height: auto;
    margin-top: -10px;
    margin-right: 20px;
    line-height: 20px;
    .fa {
      font-size: 15px;
      color: #C51162;
    }
  }

}

//-- course show
.coursepage {
  display: block;
  height: auto;
  .coursetitle {
  display: block;
  background: #E91E63;
  width: 100%;
  min-width: 960px;
  height: 70px;
  position: relative;
  h1 {
      font-size: 30px;
      line-height: 30px;
      color: white;
      float:left;
      margin:15px auto 15px 20px;
      position: relative;
  }
  }

}
.followshow {
  float:right;
  line-height: 40px;
  margin:20px auto 20px 20px;
  position: relative;
  .fa {
    font-size: 20px;
    color: white;
  }
}
.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}
.center2 {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-bottom: 5px solid #E91E63;

}
.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
.empty {
  width: auto;
  height: 5px;
  background-color: #E91E63;
  margin:20px auto;
}
.button {
  margin-bottom: 40px;
}
//event show
.dl-horizontal > dt {
  margin:10px;
}
.eventdes {
  float:left;
  width: 100%;
  margin: 20px;

}

// post page
body {
		background-color: #eee;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
		text-rendering: optimizeLegibility;
		-webkit-text-rendering: optimizeLegibility;
	}

	.a {
		text-decoration: none;
	}

	.button{
		outline: none;
		border: none;
	}

	.list-group-item p a {
		font-weight: 500;
		color: rgba(3, 161, 241, 1);
		text-decoration: underline!important;
	}

	.list-group-item p a:hover {
		font-weight: 500;
		color: rgba(3, 161, 241, 0.8);
		text-decoration: underline!important;
	}

	.card{

		background-color: #fff;
		overflow: hidden;
    margin: 10px auto 5px auto;
	}

	.paper {
		-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	}

	.details{
		background-color: #f4f4f4;
	}
	.summary{
		outline: 0;
		cursor: pointer;
		color: rgba(0,0,0,.8);
		font-size: 14px;
    background-color: #FBEFF4;
	}

	.titlep{
		display: inline-block;
		margin-left: 3em;
	}

	.titlep a {
		font-size: 14px !important;
		font-weight: 500 !important;
		color: rgba(0,0,0,.8) ;
		text-decoration: none !important;
	}

	.titlep a:hover {
		color: rgba(0,0,0,.7);
	}

	.titlep time {
		font-size: 12px;
		color: rgba(0,0,0,.5)!important;
		font-weight: 400;
		margin-left: 6px;
	}

	.titlep p {
		margin-bottom: 0;
		white-space: normal;
		color: rgba(0,0,0,.8);
		font-size: 14px;
		margin-top: 0.215em;
	}

	//--.circle {
  //position: absolute;
	//	width: 42px;
	//	height: 42px;
	//	overflow: hidden;
	//	left: 15px;
	//	display: inline-block;
	//	vertical-align: middle;
	//	border-radius: 50%;
	//}


	//.circle img{
	//	width: 100%;
	//}


	ul.actions {
		position: absolute;
		right: 1em;
		top: 1.2em;
		display: none;
		font-size: 12px;
	}

	.ul.actions a{
		text-decoration:none !important;
		color: rgba(0,0,0, 0.6);
		font-size: 11px;
	}


	.list-group-item{
		background-color:transparent !important;
	}
	.list-group-item{
		border: none !important;
		border-radius: 0 !important;
	}
	.list-group-item:hover{
		background-color:rgba(0,0,0, 0.03) !important;
		border-radius: 0 !important;
	}


	.list-group .list-group-item ul.actions{
		display: none ;
	}

	.list-group .list-group-item:hover ul.actions{
		display:inherit;
		list-style: none;
	}


	.summary::-webkit-details-marker {
	display: none;
	}



	.delete::after{

		font-family: 'Material Icons';
		font-size:100%;
		vertical-align:bottom;

	}



	.form-control {
		display: block;
		width: 100%;
		padding: 0.375rem 0.1rem !important;
		font-size: 14px !important;
		font-weight: 400 !important;
		line-height: 1.5 !important;
		color: #55595c !important;
		background-color: transparent !important;
		background-image: none !important;
		border: none !important;
		border-radius: 0 !important;
		border-bottom: 1px solid #ccc !important;
	}

	.form-control:focus{
		border-color: rgba(3, 161, 241, 1) !important;
	}

  /****** LOGIN MODAL ******/
  .loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #E91E63;
    color: white;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
  }

  .loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
  }

  .loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
  }

  .loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }

  .loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
    user-select: none; */
  }

  .loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
  }

  .loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
  }

  .loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  }

  .login-help{
    font-size: 12px;
  }
