/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// landing page
.lp-part-1 {
    display: block;
    background: #E91E63;
    background-image: url('http://odv1eilcn.bkt.clouddn.com/images/2017-04-22-part2.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    margin: 0px auto 0px auto ;
    width: 100%;
    min-width: 960px;
    height: 450px;
    position: relative;
    h1 {
        font-size: 44px;
        line-height: 56px;
        color: white;
    }
    h2 {
        font-size: 18px;
        line-height: 44px;
        color: white;
        font-weight: 200;
    }
}
.lp-block-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 450px;
    position: relative;
    text-align: center;
    padding-top: 100px;
}
.lp-block-1-button {
    border-radius: 25px;
    background: transparent;
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    line-height: 1;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 70px 13px;
    margin-right: 10px;
    margin-top: 20px;
    }
.lp-block-1-button:hover{
    background-color: white;
    text-decoration: none;
  }

.lp-part-2 {
    display: block;
    width: 100%;
    height: 550px;
    min-width: 960px;

    .lp-block-2 {
        display: block;
        width: 960px;
        height: 550px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
        padding-top: 60px;

      .block-p {
          display: block;
          width: 650px;
          height: 60px;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          padding-top: 10px;

      }
      h2 {
            font-size: 32px;
            line-height: 44px;
            font-weight: bold;
        }
      .advantages {
            color: #777777;
            font-size: 16px;
            line-height: 24px;
        }
      .pom-box {
            width: 100px;
            height: auto;
            color: black;
            font-size: 8em;
            display: inline-block; margin-right: 10px;
            margin-bottom: 10px;
        }
      .pom-box:hover {
            color:#E91E63;
      }
    }
}
.p-pom-box-47 {
    display: block;
    // background: white;
    border-style: none;
    border-radius: 0;
    // top: 20%;
    z-index: 38;
    width: 300px;
    height: 200px;
    position: relative;
    margin-left: 20px;
    margin-top: 40px;
    float: left;
    background-color: white;
    h3 {
        color: #E91E63;
        font-size: 20px;
        font-weight: 700;
    }
    p {
        font-size: 14px;
        line-height: 24px;
        color: #777777;
        width: 260px;
        margin-left: 20px;
    }
}
.lp-part-3 {
  margin-top: 60px;
  display: block;
  width: 100%;
  height: 265px;
  min-width: 960px;

  .lp-user-block-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 265px;
    padding:50px 0 50px 0;
    position: relative;
    .lp-user-left {
      padding-right :30px;
      float: left;
      width: 480px;
    }
    .lp-user-right {
      padding-left :30px;
      float: left;
      width: 480px;
    }
    .lp-user-avatar {
      float: left;
      width: 80px;
      height: 80px;
      border: 5px solid #E91E63;
      border-radius: 5%;
      margin-top :10px;

    }
    .lp-user-thinking {
      float: left;
      width: 370px;
      padding :5px 0 2px 20px;
      letter-spacing: 0.2px;
    }
    .lp-user-name {
      margin-left :100px;
    }
  }
}
.lp-part-5 {
    display: block;
    background: #E91E63;
    background-image: url('http://odv1eilcn.bkt.clouddn.com/images/2017-04-22-part2.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 960px;
    height: 200px;
    position: relative;
    h2 {
        font-size: 24px;
        line-height: 44px;
        color: white;
        font-weight: bold;
    }
    .lp-block-5 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 200px;
        position: relative;
        text-align: center;
        padding-top: 30px;
    }
}
.lp-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 60px;
        position: relative;
        text-align: center;
        background-color: #E91E63;
  .logo2 {
    float: center;
    width: 196px;
    height: 30px;
    margin: 15px;
  }
}
.iframe {
  display: block;
  float :left;
}

//layout

.navbar-default {
    background-color: #C51162;  //背景颜色
    border-color: #C51162; //边框色
    margin-bottom: 0; //底部 margin 不撑开距离
}
@media (min-width: 768px) {
   .navbar {
     border-radius: 0; //圆角为0
   }
}
.navbar-default .navbar-brand {
   color: white; //字体颜色
   padding: 10px 15px; //上下10px，左右15px
   line-height: 30px; //文字行高
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
   color: #E91E63; //鼠标放置在链接上的文字颜色
   background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
}
.navbar-default .navbar-nav > li > a
{
   color: white;
   background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
   color: #E91E63;
   background-color: transparent;
}
.navbar-brand > img {
     display: inline-block; //图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
     width: 32px; //定制图片宽度
     height: 32px; //定制图片高度
}

.content-footer p {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}

//-- meetup list from fullstack
.meetup-lists {
    width: 100%;
    text-align: left;
    color: #838B8D;
    box-sizing: border-box;
    display: block;
}

.list-item {
    margin: 10px 0;
    background-color: rgba(248,249,250,0.72);
    height: 65px;
    line-height: 65px;
    width: 100%;
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 4px;
}



.name {
    padding-left: 20px;
    width: calc(100% - 530px);
    min-width: 210px;
    float: left;
    word-wrap: break-word;
    overflow: hidden;
}
.city {
    width: 105px;
    min-width: 105px;
    float: left;
    word-wrap: break-word;
    overflow: hidden;
}
.time {
    width: 225px;
    min-width: 225px;
    float: left;
    word-wrap: break-word;
    overflow: hidden;
}
.contact {
    width: 210px;
    min-width: 210px;
    float: left;
    word-wrap: break-word;
    overflow: hidden;
  }
.option {
    width: 95px;
    min-width: 95px;
    float: left;
    word-wrap: break-word;
}
.btn-view {
    height: 28px;
    width: 60px;
    line-height: 28px;
    padding: 0;
    border: 0;
    border-radius: 15px;
    color: #1EAFFC;
    background-color: #fff;
    border: 1px solid #1EAFFC;
    box-sizing: border-box;
    font-size: 12px;
    font-family: PingFangSC-Light;
    text-align: center;
}
.meetup-block  {
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
}
span.online {
    background: #1EAFFC;
}
span.label-def{
    background: #AA66CC;
}
span.offline {
    background: #78909C;
}

body {
    font-family: Verdana,"Helvetica Neue",Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    background-color: #f9f9fa;
    color: #333;
    font-size: 14px;
    letter-spacing: 0.1em;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}
