<footer id="footer" class="site-footer col-md-12 col-md-offset-0">
  <div class="def-footer">
  <div class="help-link">
    <ul class="list-inline">
      <li>
        <a href="/about_us">关于我们</a>
      </li>
      <li>
        <a href="https://fullstack.xinshengdaxue.com/works/440">为我投票</a>
      </li>
  <li>
    <a href="http://xinshengdaxue.com/" target="_blank">新生大学</a>
  </li>
</ul>
</div>
  <div class="copyright-info">
    <span>©2016 一起进步 Designed by 橙子 LifeX</span>
  </div>
</div>
